{% extends 'admin_template.html' %}
{% block m1 %}

<h2>SHOW ADMIN</h2>
{% if vgt %}
    {% for d in vgt %}
    <h3>{{d[0]}}</h3>
    <p>
        address:{{d[1]}}<br>
        contact:{{d[2]}}<br>
        email:{{d[3]}}<br>
    </p>
    {% endfor %}
    <table border="1" width="100%">
        <tr>
            <th>ADMIN</th>
            <th>ADDRESS</th>
            <th>CONTACT</th>
            <th>EMAIL</th>
        </tr>
        {% for d in vgt %}
        <tr>
            <td>{{d[0]}}</td>
            <td>{{d[1]}}</td>
            <td>{{d[2]}}</td>
            <td>{{d[3]}}</td>
        </tr>
        {% endfor %}

    </table>
    {% elif msg %}
        <h3>{{msg}}</h3>
{% endif %}
{% endblock %}